
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  margin-top: 10px;
  max-width: 640px;
}

.features {
  width: 564px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(235, 238, 240);
  flex: 1 0 0;
}



