body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  max-width: 640px;
  margin-top: 10px;
}

.features {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  width: 564px;
  border: 1px solid rgb(235, 238, 240);
}
