.input-box {
  position: relative;
  margin: 10px 0;
}

.input-box > input {
  width: 100%;
  padding: 20px 0 5px;
  font-size: 14pt;
  background: transparent;
  border: none;
  border-bottom: solid 1px #cccccc;
}

input::placeholder {
  color: transparent;
}

input:placeholder-shown + label {
  top: 15px;
  font-size: 14pt;
  color: #aaaaaa;
}

input:focus + label,
label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10pt;
  color: #8aa1a1;
  pointer-events: none;
  transition: all 0.2s ease;
  transition: all 0.2s ease;
  transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input:focus,
input:not(:placeholder-shown) {
  border-bottom: solid 1px #8aa1a1;
  outline: none;
}

.loginform__loginButton {
  width: 100%;
  height: 2.3rem;
  margin: 3rem 0 auto auto;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  background-color: #3f51b5;
  box-shadow:
    0 3px 1px -2px rgb(0 0 0 / 20%),
    0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  transition: all 0.5s ease-out;
}

.loginform__loginButton:hover {
  background-color: #111e69;
}

.loginform__signUpButton {
  width: 100%;
  height: 2.3rem;
  margin-top: 1rem;
  font-weight: 500;
  color: #3f51b5;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.loginform__signUpButton:hover {
  color: #111e69;
}

.input__password {
  position: relative;
}

.fa-eye-slash,
.fa-eye {
  position: absolute;
  top: 30px;
  right: 10px;
  cursor: pointer;
}

.input__email {
  position: relative;
}

.fa-circle-check,
.fa-circle-exclamation {
  position: absolute;
  top: 30px;
  right: 10px;
  cursor: pointer;
}
