.Feed__container {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgb(235, 238, 240);
}

.Feed__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 97px;
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: white;
  background-color: #003380;
}

.Feed__detail {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin: 0.5rem;
}

.Feed__count {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.Feed___count__text {
  color: white;
}

.Feed__selectUser {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.Feed__contents {
  flex: 1 0 80vh;
  overflow-y: scroll;
  border: 2px solid #003380;
}

.darkmode {
  color: white;
  background-color: black;
}
