
.Feed__container {
  border-bottom: 1px solid rgb(235, 238, 240);
  margin-bottom: 0.5rem;
}

.Feed__wrapper {
  font-weight: 500;
  height: 97px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  align-items: center;
  color: white;
  background-color: #003380;
}

.Feed__detail {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}



.Feed__count {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Feed___count__text {
  color: white;
}

.Feed__selectUser {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.Feed__contents {
  flex: 1 0 80vh;
  border: 2px solid #003380;
  overflow-y: scroll;
}

.darkmode {
  background-color: black;
  color : white
} 
